*{
    margin: 0;
    padding: 0;
}
body{
    font-family:'Ubuntu' ;
}
h3{
    font-size: 20px;
    margin: 15px 0;
    color: blue;
}
p{
    font-size: 25px;
    margin: 0;
}
.App{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center; 
    justify-content: center;
    background-color: #33a3b7;
    /* 
    
    */
}
#quote-box
{
    width: 450px;
    padding: 40px;
    border-radius: 10px;
    background-color: white;
}
.action{
    display: flex;
    align-items: center;
}
.App .button,#tweet-quote{
    background-color: blue;
    color: wheat;
    border-color: #9139b5;
    display: inline-blick;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;

}
#tweet-quote{
    margin-left: 15px;
    padding: 7px 10px;
    text-decoration: none;
}